<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>

<style>
html {background-color: grey;}

body {font-family: verdana;}
</style>

<meta charset="ISO-8859-1">
<title>Add Player Form</title>
</head>
<body>
<h2>Add new players here:</h2>

	<form action="#" th:action="@{/addPlayer}" th:object="${player}" >
	
	Name: <input type="text" th:field="*{name}"><br>
	
	Age: <input type="text" th:field="*{age}"><br>
	
	Gender: <select th:field="*{gender}">
		<option th:each="g:*{genders}" th:value="${g}" th:text="${g}">
	</select><br>
	
	Phone Number: <input type="text" th:field="*{phoneNum}"><br>
	
	Email: <input type="text" th:field="*{email}"><br><br>
	
	<input type="submit" value="Add Player" /><br>
	</form>
	
	<a th:href="@{/}">Home</a>
	
	<h3>List of Players</h3>

<table border="1">


<tr>

<th>Name</th>

<th>Age</th>

<th>Gender</th>

<th>Phone Number</th>

<th>Email</th>

</tr>

<tr th:each="p : ${players}">

<td th:text="${p.name}"></td>

<td th:text="${p.age}"></td>

<td th:text="${p.gender}"></td>

<td th:text="${p.phoneNum}"></td>

<td th:text="${p.email}"></td>

<td><a th:href="@{/edit/{id}(id=${p.id})}">Edit</a></td>
<td><a th:href="@{/delete/{id}(id=${p.id})}">Delete</a></td>
</tr>
</table>



</body>
</html>