<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>

<style>
html {background-color: grey;}
body {text-align: center;}
body {font-family: verdana;}
</style>

<meta charset="ISO-8859-1">
<title>Assign Players to teams</title>
</head>
<body>
<h2>Choose players to be on which team below:</h2>
<form th:action="@{/assignPlayerToTeam}" method="post">

	Select Player: <select name="player">
		<option th:each="play : ${players}" th:value="${play.name}" th:text="${play.name}">
	</select><br>
	
	Select Team: <select name="team">
		<option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}">
	</select><br><br>
	
	<input type="submit" value="Add Player to Team">
</form><br>
<a th:href="@{/viewTeams}">View Teams</a><br><br>
<a th:href="@{/}">Home</a>
</body>
</html>