<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Player</title>
</head>
<body>
	<h2>Edit players here:</h2>

	<form action="#" th:action="@{/editPlayer}" th:object="${player}" method="post">
	
	Name: <input type="text" th:field="*{name}"><br>
	
	Age: <input type="text" th:field="*{age}"><br>
	
	Gender: <select th:field="*{gender}">
		<option th:each="g:*{genders}" th:value="${g}" th:text="${g}">
	</select><br>
	
	Phone Number: <input type="text" th:field="*{phoneNum}"><br>
	
	Email: <input type="text" th:field="*{email}"><br>
	
	<input type="submit" value="Edit Player" />
	</form>
	
	<a th:href="@{/}">Home</a>
</body>
</html>