<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>

<style>
html {background-color: grey;}

body {font-family: verdana;}
</style>

<meta charset="ISO-8859-1">
<title>Search Players</title>
</head>
<body>

	<form th:action="@{/searchName}" >
		Search by Name: <input type="text" name="name" /><br>
		<input type="submit" value="Search" />
	</form><br>
	<form th:action="@{/searchAge}" >
		Search by Age: <input type="text" name="age" /><br>
		<input type="submit" value="Search" />
	</form><br>
	<form th:action="@{/searchGender}" >
		Search by Gender: <input type="text" name="gender" /><br>
		<input type="submit" value="Search" />
	</form>

<h3>Search Results</h3>
<table border="1">


<tr>

<th>Name</th>

<th>Age</th>

<th>Gender</th>

<th>Phone Number</th>

<th>Email</th>

</tr>

<tr th:each="p : ${players}">

<td th:text="${p.name}"></td>

<td th:text="${p.age}"></td>

<td th:text="${p.gender}"></td>

<td th:text="${p.phoneNum}"></td>

<td th:text="${p.email}"></td>


</tr>
</table><br>

<a th:href="@{/}">Home</a>

</body>
</html>