<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>

<style>
html {background-color: grey;}
body {font-family: verdana;}
</style>

<meta charset="ISO-8859-1">
<title>View Teams</title>
</head>
<body>
<h2>View Team and members</h2>
<form th:action="@{/viewTeams}" method="post">
	
	Select a Team: <select name="team">
	<option th:each="te : ${teams}" th:value="${te.id}" th:text="${te.name}">
	
	</select><br>
	
	<input type="submit" value="Display Team">
	
</form>

<h3>Team Info:</h3>
<div th:if="${team != null}">
<h4 th:text="${team.name}"></h4>

	<ol>
		<li th:each="pla : ${team.players}" th:text="${pla.name}"></li>
	</ol>
</div>	
<a href="/assignPlayerToTeam">Assign players to Teams</a><br>
<a th:href="@{/}">Home</a>
</body>
</html>